.ProseMirror {
  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  ul,
  ol {
    @apply py-0 px-8 my-6 first:mt-0 last:mb-0;

    ul,
    ol,
    li {
      @apply my-1;
    }

    p {
      @apply mt-0 mb-1;
    }
  }

  & > ul,
  & > ol {
    @apply my-8 first:mt-0 last:mb-0;
  }


    ul[data-type="taskList"] {
        padding: 0;
        li {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }


    ul[data-type="taskList"] input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
    width: var(--global-font-size);
    height: var(--global-font-size);
    margin: 0;
    flex-shrink: 0;
    background-color: #191919;
    border: 1px solid white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    ul[data-type="taskList"] input[type="checkbox"]:checked {
    background-color: #3184de !important;
    border: none !important;
    appearance: checkbox !important;
    }

    ul[data-type="taskList"] input[type="checkbox"]:checked::after {
        color: white;
        font-size: var(--global-font-size);
        font-weight: bold;
        position: absolute;
    }


    ul[data-type="taskList"] li > div {
    flex-grow: 1;
    }
}
